##### gbx Template Config File #####

## Transfer job name to show in task list (default empty)
xfr_label="archive-weekly_dbs-batch"

## Source endpoint id  (required)
source_ep="37c3de8e-bde4-11e9-9398-02ff96a5aa76"
## Source file absolute path  (required)
file_path="/usr/local/archives/dbs"
## Glob of files to transfer (default '*' within file_path)
file_glob='weekly/*/* fullschema/*'
##NOTE: use 'single' quotes if '*' !!

## Target endpoint id  (required)
target_ep="0ea8f842-ac9e-11e9-a379-0a2653bc2660"
## Destination path  (required)
dest_path="/dbs/"
## use file's basename in dest_path/
dest_base=1

## Batch file
batch_file="dbs_weekly.fof"
## reuse/overwrite with file_glob?
batch_file_reuse=1
